# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Secrets / private keys
*.pem
*.key

# User uploaded files
uploads/
backend/uploads/

# AWS CLI installation files
aws/
backend/aws/
awscliv2.zip
backend/awscliv2.zip
